* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: black;
}

th,
td {
    padding: 5px 15px;
    border: 2px solid grey;
    margin: 0;
}